<html>
    <head>
        <title>Receive3</title>
    </head>

    <body>
        이름 : <%=name%> <br>
        성별 : <%=gender%> <br>
        생년월일 : <%=year%>년 <%=mm%>월 <%=day%>일 <br>
        관심사 : <%=like%> <br>
        컬러 : <%=color%> <br>
        색상 관심도 : <%=range%>
    </body>
</html>